<%- include('./partials/header.ejs')  %>
<body>
    <h2>Welcome Home</h2>
<div class="col-6 auto text-center">
    <a href="/login" class="btn btn-primary">Login</a><br><br>
    <a href="/signup" class="btn btn-primary">Sign Up</a>
    </div>
</body>
</html>